.register__form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__form label{
    margin-right: 10px;
}

.register__button{
    margin-top: 10px;
}

.hide{
    display: none;
}

.err{
    margin: 15px;
    background-color: rgb(201, 98, 98);
    color: black;
    border: 1px solid red;
}